<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/update/<%= data.id %>" method="POST">
          <div class="form-group">
            <input type="text" name="name" value="<%= data.name%>" placeholder="Name" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="origin_country" value="<%= data.origin_country%>" placeholder="País de origen" class="form-control">
          </div>
          <div class="form-group">
            <input type="year" name="release_year" value="<%= data.release_year%>" placeholder="Año de estreno" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="release_year" value="<%= data.director%>" placeholder="Director" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="release_year" value="<%= data.cast%>" placeholder="Elenco" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary">
            Guardar pelíclua
          </button>
          <button type="cancel" class="btn btn-primary">
              Cancelar
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>